[*.cs]

# S1133: Deprecated code should be removed
dotnet_diagnostic.S1133.severity = silent

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = silent

# SA1101: PrefixLocalCallsWithThis
dotnet_diagnostic.SA1101.severity = silent

# SA1600: ElementsMustBeDocumented
dotnet_diagnostic.SA1600.severity = silent

# SA1615: ElementReturnValueMustBeDocumented
dotnet_diagnostic.SA1615.severity = silent

# SA1623: PropertySummaryDocumentationMustMatchAccessors
dotnet_diagnostic.SA1623.severity = silent

# SA1633: FileMustHaveHeader
dotnet_diagnostic.SA1633.severity = none


-----